<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrtan.googlelocation" >
    <application>
        <provider
            android:authorities="com.mrtan.googlelocation.locationProvider"
            android:name=".LocationProvider"
            android:exported="false"
            />
    </application>
</manifest>
